.container {
  width: 30%;
  margin: 10% auto;
}

.signin-box {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.signin-box img {
  width: 70px;
}

.signin-title {
  font-weight: 200;
}
