.chef_row {
  display: flex;
  justify-content: center;
  border: 2px solid purple;
  margin-top: 10px;
}
.chef_col {
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: 2px solid peru;
}
.chef-name {
  border: 4px solid pink;
}
.img {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid palevioletred;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
